{% extends 'base.html' %}

{% block content %}

<div class="formwrapper">
  <h2 class="title"> Google - Text to Speech</h2>
  <form method="POST" action="/download">
      <div class="form-field">
      <form action="/download" method="POST">

        <!-- input text  -->
        <div>
          <label for="input_text">Text to Speak:</label><br>
          <textarea id="input_text" rows="25" cols="100" name="input_text" required></textarea><br>
        </div><br>

        <!-- language  -->
        <div>
          <label for="language">Language:</label>
          <select id="language" name="language" >
            {% for lang in languages %}
              <option value="{{ lang[0] }}">{{ lang[1] }} {{ lang[0] }}</option>
            {% endfor %}
          </select>

          <!-- gender  -->
          <label for="gender">Gender:</label>
          <select name="gender" id="gender">
            {% for gender in genders %}
              <option value="{{ gender }}">{{ gender }}</option>
            {% endfor %}
          </select>

          <!-- Available Voices  -->
          <div>
            <label for="available_voices">Available Voices:</label>
            <div required id="available_voices">
              <select required></select>
            </div>
          </div>
          <script>
            $('#language, #gender').change(function(){
              var selected_lang = $('#language').val();
              var selected_gender = $('#gender').val();
              $.ajax({ 
                  url: "{{ url_for('getdata') }}",
                  data: { selected_lang: selected_lang, selected_gender: selected_gender },
                  type: 'post'
              }).done(function(resp) {
                  $('div#available_voices').empty();
                  $('div#available_voices').append(resp.data);
                  // console.log(responseData)
              }).fail(function() {
                  console.log('Failed');
              });
            });
          </script>


        </div><br>

        <!-- file name  -->
        <div>
          <label for="file_name">Enter the name of file to save as:</label>
          <input type="text" name="file_name" id="file_name" required>
        </div><br>

        <!-- Pitch  -->
        <div>
          <label for="pitch">Pitch</label>
          <div>
            <input name="pitch_value" id="pitch" step="1" type="range" min="-20" max="20" value="0">
            <p>Pitch: <span id="pitch_value" ></span></p>
          </div> 
          <script>
          var pitch_slider = document.getElementById("pitch");
          var pitch_output = document.getElementById("pitch_value");
          pitch_output.innerHTML = pitch_slider.value;
          
          pitch_slider.oninput = function() {
            pitch_output.innerHTML = this.value;
          }
          </script>
        </div>

        <!-- Speed  -->
        <div>
          <label for="speed">Speed</label>
          <div>
            <input name="speed_value" id="speed" type="range" step="0.01" min="0.25" max="4.00" value="1">
            <p>Speed: <span id="speed_value" ></span></p>
          </div>
          <script>
          var speed_slider = document.getElementById("speed");
          var speed_output = document.getElementById("speed_value");
          speed_output.innerHTML = speed_slider.value;
          
          speed_slider.oninput = function() {
            speed_output.innerHTML = this.value;
          }
          </script>
        </div>

        <!-- Submit  -->
        <div>
          <input type="submit" value="Download"></input>
        </div>

      </form>          
      </div>
      <div>
    </div>
  </form>
</div>


{% endblock %}